.container {
    position: absolute;
    top: 10%;
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: white;
    z-index: 2;
    overflow: hidden;
    border-radius: 10px;
    text-align: start;
}

.selector_container {
    width: 100%;
    text-align: center;
}

.text {
    color: black;
    margin-top: 20px;
}

.closeIcon {
    position: absolute;
    top: 0;
    right: 0;
}